{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Pedestal of Snacks service
      </h1>

      <p>Use this service to:</p>

      <ul class="list list-bullet">
        <li>check what snacks are currently available</li>
        <li>check whether the available snacks meet your dietry requirements</li>
      </uL>

      <img src="https://d2wq73xazpk036.cloudfront.net/media/27FB7F0C-9885-42A6-9E0C19C35242B5AC/DA746CFE-B4A4-43C0-A02F8BAF7BC6CE20/thul-51a71b71-3799-5e48-8a84-5b08c9efa9cf.jpg?response-content-disposition=inline" alt="Doggo" height="50%" width="75%"/>

      <p>Checking with this service takes significantly longer than it does to just walk over and have a look. But this service lets you stay sitting down. Win win.</p>

      <p>
        <a class="button button-start" href="http://localhost:3000/task-list-page" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>You can also <a href="#">check by post</a>, but that would be ridiculous, right?</p>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg).</a></p>

      <p>You can’t eat the snacks if you’re in the UK illegally.</p>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
{% extends "layout.html" %}

{% block page_title %}
  Start page example
{% endblock %}

{% block proposition_header %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block header_class %}
  <!-- blank to remove the proposition header -->
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="breadcrumbs">
    <ol>
      <li><a href="https://www.gov.uk">Home</a></li>
      <li><a href="">Section</a></li>
      <li>Subsection</li>
    </ol>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Pedestal of Snacks service
      </h1>

      <p>Use this service to:</p>

      <ul class="list list-bullet">
        <li>check what snacks are currently available</li>
        <li>check whether the available snacks meet your dietry requirements</li>
      </uL>

      <img src="https://d2wq73xazpk036.cloudfront.net/media/27FB7F0C-9885-42A6-9E0C19C35242B5AC/DA746CFE-B4A4-43C0-A02F8BAF7BC6CE20/thul-51a71b71-3799-5e48-8a84-5b08c9efa9cf.jpg?response-content-disposition=inline" alt="Doggo" height="50%" width="75%"/>

      <p>Checking with this service takes significantly longer than it does to just walk over and have a look. But this service lets you stay sitting down. Win win.</p>

      <p>
        <a class="button button-start" href="http://localhost:3000/task-list-page" role="button">Start now</a>
      </p>

      <h2 class="heading-medium">Before you start</h2>

      <p>You can also <a href="#">check by post</a>, but that would be ridiculous, right?</p>

      <p>The online service is also available in <a href="#">Welsh (Cymraeg).</a></p>

      <p>You can’t eat the snacks if you’re in the UK illegally.</p>

    </div>
    <div class="column-third">

      <aside class="govuk-related-items" role="complementary">
        <h2 class="heading-medium" id="subsection-title">Subsection</h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="font-xsmall">
            <li><a href="#">Related link</a></li>
            <li><a href="#">Related link</a></li>
            <li><a href="#" class="bold-xsmall">More <span class="visuallyhidden">in Subsection</span></a></li>
          </ul>
        </nav>
      </aside>

    </div>
  </div>

</main>

{% endblock %}
